.DS_Store
node_modules/
.vercel
www/

# Android
*.keystore
*.jks
android/app/build/
android/.gradle/
android/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties
android/.idea/
